
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    box-shadow: inset 0px 0px 80px 3px #fdf2ed;
    min-height: 100vh;
    overflow: auto;
}


/* ==============
    Typography 
=================*/

.logo {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(7, 1, 1);
    background:linear-gradient( 1deg,rgb(141, 42, 80), transparent 10%) top;
}

.loading {
    text-align: center;
    font-size: 3rem;
}

.searchInput {
    margin: 0.5em 0;
    font-size: 1rem;
    color: black;
}

.searchBtn {
    padding: 0;
    font-size: 1rem;
    background-color: rgb(75, 13, 37);
    color: white;
    border: 2px solid  rgb(75, 13, 37);
}

.resultAmt {
     font-size: 0.9rem;
}

.btns {
    font-size: 1.2rem;
    background-color: rgb(75, 13, 37);
    color: white;
    border: 2px solid  rgb(75, 13, 37);
}

.currentPage {
    font-size: 1.2rem;
    background-color: rgb(170, 92, 122);
    border: 2px solid  rgb(170, 92, 122);
    color: white;
}

input {
    border: 1px solid rgb(87, 15, 43);
}

.itemName, .itemPrice{
    font-size: 1rem;
    margin: 0.3em 0;
}

.itemMsrp {
    font-size: 1rem;
    margin: 0.3em 0;
    text-decoration: line-through;
    font-style: italic;  
}

.itemInfo {
    text-align: center;
}

.itemPrice {
    color:rgb(104, 12, 47);
    font-weight: bolder;
}

.empty{
    text-align: center;
    color:rgb(104, 12, 47);
    margin: 2em;
}

.itemCartName, .itemCartPrice {
    font-size: 1.5rem;
    margin: 3em 0;
}

.itemCartName {
    margin: 3em 1em;
}

.itemCartPrice {
    color:rgb(104, 12, 47);
}

.total {
    text-align: right;
    color:rgb(104, 12, 47);
    margin-right: 8rem;
}

/* ==============
    Layout
=================*/

.logo { 
    margin: 0.5em 0;
    padding: 0.2em;
    display: block;
    text-align: left;
}

.cart {
    width: 18%;
    display: block;
    float: right;
}

.header-container > a {
    width: fit-content;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em 1em;
}

.form-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

.search-form {
    display: inline-block;  
}

.resultDisplay {
    max-width: 95%;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 91.5%;
    margin: 0 auto;
}

.bottomPagination {
    margin-left: auto;
}

.itemCard {
    margin: 0.5em;
}

.itemImg {
   max-width: 90%;
   height: 200px;
}

.cartBtn {
    background-color: #e2c0c0;
    padding: 0.3em 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 0;
}

.delete {
    background-color: red;
    padding: 1em;
    margin: 4rem 0.5rem 0 0.5rem;
    height: fit-content;
}

.pay {
    background-color: #e2c0c0;
    margin-right: 8rem;
    font-size: 1.5rem;
    float: right;
    margin-top: 1.5rem;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    border: 0;
}

.cartBtn:hover, 
.cartBtn:focus, 
.pay:hover, 
.pay:focus {
    background-color: #fcb1b1;
    cursor: pointer;
}

.delete:hover, 
.delete:focus {
    background-color: #dd2727;
    cursor: pointer;
}


.cart-item{
    display: flex;
    justify-content: space-between;
    padding-right: 10em;
    padding-left: 5em;
    margin: 2em auto;
}



/* ==============
    Media Queries 
=================*/

@media (max-width: 500px) {
    .searchInput {
        font-size: 0.7rem;
    }
    
    .searchBtn {
        font-size: 0.7rem;
     }   

    .cart-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em auto;
        padding: 0;
    }

    .itemImg {
        max-width: 50%;
        height: 100px;
        margin: 0;
    }

    .itemCartPrice{
        margin: 0;
    }

    .itemCartName, .delete {
        text-align: center;
        margin: 0.5rem 0;
    }

    
}

@media (min-width: 1050px) {
    /* ===========
       Typography
    =============*/

    .logo { 
        font-size: 2.5rem;
    }

    .searchInput {
        margin: 0.5em 0;
        font-size: 2rem;
        color: black;
    }

    .searchBtn {
        font-size: 2rem;
    }

    .itemName, .itemPrice, .itemMsrp{
        font-size: 1.2rem;
    }

    .total, .pay {
        margin-right: 15rem;
    }
    /* ============
        Layout
    ===============*/

    .resultDisplay {
        max-width: 95%;
        margin: 0.5em auto;
        display: grid;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
    }

    .cart-item{
        padding-right: 15em;
        padding-left: 10em;
    }

    
}